.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn-tog{
  padding:10px 30px;
  background-color: lightgray;
}
.text-tog{
border:2px solid blue;
}

.box {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  float: left;
  margin: 100px 90px 0;
}

.row2, .row3 {
	clear: both;
}
